p{
    margin: 0;
}
.menu{
    width: 16vw;
    height: 90vh;
}
.menu-option{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    &__header{
        display: flex;
        &--img{
            padding: 2rem 0 2rem 0;
            margin: auto;
        }
    }
    &__content{
        padding: 0 2rem 0 2rem;
        .car-add{
            background-color: #94c120;
            border-radius: 5px;
            color: white;
            a, p,span{
                color: white;
            }
        }
     }
    &__content a{
       display: flex;
       align-items: center;
    }
    &__content a p{
        position: relative;
        left: 22px;
        color: #828282;
     }
     .active-link{
        background-color: white;
        border-radius: 5px;
        color: white;
        -webkit-box-shadow: 0px 0px 44px -17px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 44px -17px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 44px -17px rgba(0,0,0,0.75);
        a, p,span{
            color: black;
        }
    }
    .btn:active{
        border-color: transparent;
    }
   
}
section{
    background-color: #FAFAFA;
}
span{
    color: #828282;
}
