@import "../../../../styles.scss"; 
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.Copyright{
    background-color: $color-primario;
}
.legui-btn{
    @include legui-btn-primary
}
.legui-input-group{
    input{
        width: 30rem;
    }
}

